# Godot-specific files
.import/
.godot/

# Visual Studio files
.vs/*

# Ignore all assets
/assets/*

# Cache and temporary files
*.log
*.tmp

# User-specific configurations
*.cfg
*.tres
*.import

# OS-specific files
Thumbs.db
.DS_Store

# Export templates
*.exe
*.pck
*.zip
*.tar.gz
